body {
  background-color: #ADD8E6;
  text-align: center;
}
#bandeau {
  text-align: right;
  width: 95%;
}
img.bimg {
  height: 8vh;
}
#aide {
  float: left;
  width: 30%;
}
#forme {
  margin-left: 32%;
}
.exotice {
  position: absolute;
  left: 2%;
  top: 0%;
}
.exotice img {
  height: 8vh;
}
.exotice span {
  padding-bottom: 1vh;
  vertical-align: middle;
}
.copyright {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
  left: 2px;
  bottom: -23px;
  font-size: 15px;
}
.copyright img {
  min-height: 25px;
  height: 3vh;
  vertical-align: middle;
}
.cat {
  width: 97%;
  padding-left: 3%;
  font-size: 4vh;
  font-weight: bold;
  background-color: #878787;
}
