body {
  background-color: #ADD8E6;
  text-align: center;
}
.col {
  display: inline-block;
  width: 45%;
  margin: 1%;
  border: 2px solid orange;
  border-radius: 5px;
}
.titre {
  font-weight: bold;
  font-size: 2em;
}
.iligne {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.eligne {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.eimg {
  width: 30px;
}
#idetails {
  width: 300px;
}
.td1 {
  text-align: right;
  padding: 5px;
  white-space: nowrap;
}
.td2 {
  text-align: left;
  padding: 5px;
}
.td3 {
  white-space: nowrap;
}
.ea {
  text-decoration: none;
}
.enew {
  border: 1px solid grey;
}
.enewa {
  text-decoration: none;
  font-weight: bold;
  color: orange;
}
#bandeau {
  text-align: right;
  width: 95%;
}
img.bimg {
  height: 8vh;
}
.exotice {
  position: absolute;
  left: 2%;
  top: 0%;
  height: 8vh;
}
.copyright {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
  left: 2px;
  bottom: -23px;
  font-size: 15px;
}
.copyright img {
  min-height: 25px;
  height: 3vh;
  vertical-align: middle;
}
