@font-face {
  font-family: StayPuft
  src: url(../StayPuft.ttf)
}
@font-face {
  font-family: handfont
  src: url(../handfont.ttf)
}
body {
  text-align: center;
}
#c1 {
margin-left: auto;
  margin-right: auto;
  width: 68vh;
  height: 94vh;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  font-size: 1.8vh;
  padding: 2px;
}
#titrelivre {
  font-family: StayPuft;
  font-weight: bold;
  font-size: 7vh;
  width: 100%
}
#details {
  font-family: handfont;
  font-size: 3vh;
  color: blue;
  width: 100%;
  margin-top: 1vh;
}
#aideimg {
  height: 55vh;
  margin-top: 1vh;
}
#godiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 5vh;
  font-style: italic;
}
#gotxt {
  vertical-align: middle;
}
#goimg {
  height: 12vh;
  padding-left: 1vh;
  vertical-align: middle;
}
