@font-face {
  font-family: StayPuft
  src: url(../StayPuft.ttf)
}
@font-face {
  font-family: handfont
  src: url(../handfont.ttf)
}
body {
  background-color: #8AC3BB;
  -moz-user-select: none;
}
#exitdiv {
  position: absolute;
  left: 1vh;
  top: 1vh;
}
#exitimg {
  height: 4vh;
}
#eraseimg {
  height: 4vh;
}
#user {
  font-size: 2vh;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
a.page {
  background-color: #BFBFBF;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 2px;
}
a.pagecours {
  background-color: #4E4E4E;
  border: 1px solid #D4D4D4;
  color: #D4D4D4;
  text-decoration: none;
  padding: 2px;
}
a.pageavant {
  background-color: #BFBFBF;
  border: 1px solid #BFBFBF;
  color: #8A8A8A;
  text-decoration: none;
  padding: 2px;
}
a.pagebilan {
  background-color: #D1CFCF;
  border: 0px solid black;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
}
#c1 {
  float: right;
  width: 68vh;
  height: 98vh;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  font-size: 2vh;
  padding: 2px;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
#c2 {
  margin-right: 72vh;
  height: 96vh;
  font-size: 1.8vh;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
#titrelivre {
  font-family: StayPuft;
  font-weight: bold;
  font-size: 7vh;
}
#titreexo {
  font-weight: bold;
  font-size: 5vh;
}
#consigne {
  font-family: handfont;
  font-size: 4.5vh;
  color: blue;
  width: 100%;
  text-align: left;
  margin-top: 4vh;
}
#bas {
  position: absolute;
  bottom: 0px;
  font-size: 2.4vh;
  text-align: center;
  width: 100%;
}
#aideimg {
  text-align: left;
  margin-left: 4vh;
  margin-top: 4vh;
}
#aide {
  position: absolute;
  left: 16vh;
  top: 40vh;
  height: 55vh;
  visibility: hidden;
}
#corr {
  position: absolute;
  width: 100%;
  bottom: 10vh;
}
#ctable {
  width: 100%;
}
#cbtn {
  width: 10vh;
  vertical-align: center;
}
#cbtnimg {
  height: 10vh;
  border-radius: 10px;
  background-color: grey;
}
#cflag {
  width: 10vh;
  vertcal-align: center;
  visibility: hidden;
}
#cflagimg {
  height: 10vh;
}
#ctxt {
  border: 3px solid red;
  font-size: 3vh;
  font-weight: normal;
  height: 16vh;
  border-radius: 5px;
  visibility: hidden;
}
#cscore {
  font-family: StayPuft;
  font-size: 4vh;
  font-weight: bold;
  visibility: hidden;
}
#rea {
  -moz-appearance:button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
div.coin_d {
  position: absolute;
  right: 0px;
  bottom: 0px;
  opacity: 0.2;
}
div.coin_d:hover {
  opacity: 1;
}
div.coin_g {
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0.2;
}
div.coin_g:hover {
  opacity: 1;
}
#coinimg {
  width: 10vh;
}
#bysa {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 10px;
}
#bysa img {
  height: 10px;
}
