textarea {
  resize: none;
}
div.ligne {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;/*2vh*/
  font-size: 2vh;/*2vh*/
  width: 100%;
}
div.ligne2 {
  text-align: center;
  margin-top: 2vh;/*2vh*/
  font-size: 2vh;/*2vh*/
  width: 100%;
}
div.lignef {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
}
div.ligne2f {
  text-align: center;
  -moz-user-select: none;
}
.image {
  box-sizing: border-box;
  -moz-user-select: none;
}
.cible {
  box-sizing: border-box;
  padding: 4px;
}
.texte_simple {
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
}
.line {
  position: absolute;
  width: 3px;
  background-color: #0700A3;
  transform-origin: top left;
  cursor: pointer;
}
ellipse {
  stroke-linecap: round;
}
line {
  stroke-linecap: round;
}
.radio form {
  text-align: left;
  font-weight: bold;
  margin-left: 1vh; /*1vh*/
  margin-right: 1vh;
}
.radio input {
  vertical-align: middle;
  margin: 0px;
}
.radiobtn form {
  margin-left: 1vh;/*1vh*/
  margin-right: 1vh;
}
.radiobtn input[type="radio"] {
    display:none; 
}
.radiobtn label {
    display:inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 1vh;/*1vh*/
    padding-right: 1vh;
    -moz-user-select: none;
}
.combo select {
  margin-left: 1vh;/*1vh*/
  margin-right: 1vh;
}
div.combo_corr {
  width: 100%;
  text-align: center;
  display: none;
  color: red;
  font-weight: bold;
}
div.texte_corr {
  width: 100%;
  text-align: center;
  display: none;
  color: red;
  font-weight: bold;
}
.texte input {
  margin-left: 1vh;/*1vh*/
  margin-right: 1vh;
  vertical-align: middle;
  font-size: inherit;
}
.multi span {
  cursor: pointer;
  -moz-user-select: none;
}
.multi span:hover {
  border: 1px solid grey;
}
span.multi_corr {
  background-color: #BFBFBF;
  font-style: italic;
  visibility: hidden;
  margin-right: 2.5vh; /*2.5vh*/
}
img.multi_cim {
  width: 2.5vh; /*2.5vh*/
  vertical-align: bottom;
}
.line_barre {
  color: red;
  font-weight: bold;
  font-size: 4vh;
  position: absolute;
  font-family: "sans-serif";
}
.audio {
  box-sizing: border-box;
  -moz-user-select: none;
}
.audio_src {
  display: none;
}
.multi_ini {
  display: none;
}
