textarea {
  resize: none;
}
div.ligne {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;/*2vh*/
  font-size: 13px;/*2vh*/
  width: 100%;
}
div.ligne2 {
  text-align: center;
  margin-top: 13px;/*2vh*/
  font-size: 13px;/*2vh*/
  width: 100%;
}
div.lignef {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;/*2vh*/
}
div.ligne2f {
  text-align: center;
  font-size: 13px;/*2vh*/
}
.image {
  box-sizing: border-box;
}
.cible {
  box-sizing: border-box;
}
.texte_simple {
  box-sizing: border-box;
  overflow: hidden;
}
.radio form {
  text-align: left;
  font-weight: bold;
  margin-left: 6.5px; /*1vh*/
  margin-right: 6.5px;
}
.radio input {
  vertical-align: middle;
  margin: 0px;
}
.radiobtn form {
  margin-left: 6.5px;/*1vh*/
  margin-right: 6.5px;
}
.radiobtn input[type="radio"] {
    display:none; 
}
.radiobtn label {
    display:inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 6.5px;/*1vh*/
    padding-right: 6.5px;
}
.combo select {
  margin-left: 6.5px;/*1vh*/
  margin-right: 6.5px;
}
div.combo_corr {
  width: 100%;
  text-align: center;
  display: none;
  color: red;
  font-weight: bold;
}
div.texte_corr {
  width: 100%;
  text-align: center;
  display: none;
  color: red;
  font-weight: bold;
}
.multi span {
  cursor: pointer;
}
.multi span:hover {
  border: 1px solid grey;
}
span.multi_corr {
  background-color: #BFBFBF;
  font-style: italic;
  visibility: hidden;
  margin-right: 17px; /*2.5vh*/
}
img.multi_cim {
  width: 17px; /*2.5vh*/
  vertical-align: bottom;
}
.audio {
  box-sizing: border-box;
}
.audio_src {
  display: none;
}
