body {
  background-color: #6D7BCF;
}
#main_div {
  height: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}
input.jscolor {
  width: 5em;
}
button.jscolor {
  width:50px;
  height:20px;
}
.sep {
  height: 2px;
  background-color: #e6e6e6;
  width: 80%;
  font-size: 0px;
  margin: 5px;
  margin-left: 10%;
}
#cr_rendu {
  width: 453px;
  height: 641px;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  font-size: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  vertical-align: top;
}
.cr_rendu_bloc {
  position: absolute;
  font-size: 0px;
}
.couverture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  left: 0px;
  top: 0px;
}
#cr_new_txt {
  width: 40px;
  vertical-align: middle;
}
.cr_coul {
  display: none;
}
#cr_texte_div {
  display: none;
}
#user {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-top: 8px;
  margin-left: 20px;
}
#cr_img_get_div {
  display: none;
}
#cr_audio_get_div {
  display: none;
}
#cr_txt_ini_div {
  display: none;
}
#cr_opt {
  display: inline-block;
  vertical-align: top;
  width: 450px;
  height: 100%;
  margin-top: 5px;
  overflow: auto;
  background-color: #D8D8D8;
}
.cr_opt_bloc {
  padding: 5px;
  border-radius: 2px;
  text-align: left;
}
.cr_opt_ligne {
  display: flex;
  align-items: center;
  padding: 4px;
}
input[type="number"] {
  width: 40px;
}
.cr_opt_ligne > * {
  margin-left: 4px;
}
.cr_font input[type="checkbox"] {
  display:none; 
}
.cr_font input[type="radio"] {
  display:none; 
}
.cr_font label {
  display:inline-block;
  box-sizing: border-box;
  padding: 2px;
  width: 18px;
  background-color: #D0D0D0;
  text-align: center;
}
.cr_font img {
  width: 16px;
}
.cr_font input[type="checkbox"]:checked + label {
  background-color: #909090;
}
.cr_font input[type="radio"]:checked + label {
  background-color: #909090;
}
#cr_html {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}
#cr_panel1 {
  display: inline-block;
  vertical-align: top;
  width: 1100px;
}
#cr_tab_div {
  width: 95%;
  padding-left: 10px;
  position: relative;
}
#cr_tab_div img {
  position: absolute;
  height: 25px;
  right: 0px;
  top: 0px;
}
.cr_tab_btn {
  display: inline-block;
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding: 3px;
  cursor: pointer;
}
.cr_pa1 {
  width: 95%;
  padding: 5px;
  background-color: #6D7BCF;
  border: 5px solid grey;
  border-radius: 5px;
}
#cr_panel2 {
  display: inline-block;
  vertical-align: top;
}
#cr_txt_ini {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
#cr_btn_div {
  width: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background-color: #D8D8D8;
}
#cr_btn_div2 {
  width: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background-color: #D8D8D8;
}
#cr_nom {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.cr_img_btn {
  padding: 0;
}
.cr_img_btn img {
  width: 20px;
  vertical-align: middle;
}
#cr_img_get {
  display: none;
}
#cr_audio_get {
  display: none;
}
.cr_btn {
  padding: 2px;
  border-radius: 2px;
  height: 26px;
}
.cr_btn:hover {
  background-color: #FFFFFF;
}
#cr_record_div {
  display: none;
}
#cr_record_div img {
  height: 20px;
  padding: 2px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #D8D8D8;
}
#exotice {
  position: absolute;
  top: 0px;
  right: 2px;
  height: 25.64px;
}
.cm {
  position: absolute;
  visibility: hidden;
  background-color: #E2E2E2;
  padding: 5px;
  border-radius: 3px;
  text-align: left;
  top: 0px;
}
.cm img {
  height: 26px;
  padding: 4px;
}
.cm img:hover {
  background-color: #ffffff;
}
#gpl {
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}
#gplimg {
  height: 32px;
  vertical-align: middle;
  margin-bottom: 4px;
}
#exotice2 {
  height: 40px;
}
