body {
  background-color: #AEC7A6;
  font-family: sans-serif;
}
input.jscolor {
  width: 5em;
}
button.jscolor {
  width:50px;
  height:20px;
}
#cr_rendu {
  width: 453px;
  height: 641px;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  font-size: 8px;
  padding: 2px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.cr_rendu_bloc {
  position: absolute;
  font-size: 0px;
}
.couverture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  left: 0px;
  top: 0px;
}
#cr_new_txt {
  width: 40px;
  vertical-align: middle;
}
.cr_coul {
  display: none;
}
#cr_texte_div {
  display: none;
}
#user {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    width: 100%;
}
#cr_img_get_div {
  display: none;
}
#cr_audio_get_div {
  display: none;
}
#cr_txt_ini_div {
  display: none;
}
.cr_opt {
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
}
.cr_opt_full {
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  padding: 5px;
  margin: 5px;
}
.cr_opt > * {
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #EEEFE4;
  padding: 5px;
  margin: 5px;
}
.cr_opt_ligne {
  display: flex;
  align-items: center;
  padding: 4px;
}
input[type="number"] {
  width: 40px;
}
.cr_opt_ligne > * {
  margin-left: 4px;
}
.cr_font input[type="checkbox"] {
  display:none; 
}
.cr_font input[type="radio"] {
  display:none; 
}
.cr_font label {
  display:inline-block;
  box-sizing: border-box;
  padding: 2px;
  width: 18px;
  background-color: #D0D0D0;
  text-align: center;
}
.cr_font img {
  width: 16px;
}
.cr_font input[type="checkbox"]:checked + label {
  background-color: #909090;
}
.cr_font input[type="radio"]:checked + label {
  background-color: #909090;
}
#cr_html {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}
#cr_panel1 {
  display: inline-block;
  vertical-align: top;
  width: 1100px;
}
#cr_tab_div {
  width: 95%;
  padding-left: 10px;
  position: relative;
}
#cr_tab_div img {
  position: absolute;
  height: 25px;
  right: 0px;
  top: 0px;
}
.cr_tab_btn {
  display: inline-block;
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding: 3px;
  cursor: pointer;
}
.cr_pa1 {
  width: 95%;
  padding: 5px;
  background-color: #6D7BCF;
  border: 5px solid grey;
  border-radius: 5px;
}
#cr_panel2 {
  display: inline-block;
  vertical-align: top;
}
.cr_long {
  width: 950px;
}
#cr_btn_div {
  text-align: center;
}
#cr_nom {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.cri_a_txt {
  width: 600px;
  height: 42px;
}
.cri_table {
  border-collapse: collapse;
  width: 98%;
}
.cri_table th {
  border: 1px solid black;
}
#cri_consigne {
  width: 500px;
  height: 42px;
}
.cr_img_btn {
  padding: 0;
}
.cr_img_btn img {
  width: 20px;
  vertical-align: middle;
}
#cr_img_get {
  display: none;
}
#cr_audio_get {
  display: none;
}
.cr_btn {
  padding: 2px;
  background-color: #D8D8D8;
  border-radius: 2px;
  height: 26px;
}
.cr_btn:hover {
  background-color: #E2E2E2;
}
#cr_record_div {
  display: none;
}
#cr_record_div img {
  height: 20px;
  padding: 2px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #D8D8D8;
}
#ci_record_div {
  display: none;
}
#ci_record_div img {
  height: 20px;
  padding: 2px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: #D8D8D8;
  display: none;
}
#ci_audio_get {
  display: none;
}
#cri_mod {
  text-align: center;
  background-color: #7F85A6;
  margin: 20px 0px 20px 0px;
}
#ci_img_get {
  display: none;
}
#exotice {
  position: absolute;
  top: 0px;
  right: 2px;
  height: 25.64px;
}
