div.ligne {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}
.ligne input {
  vertical-align: middle;
  margin: 0px;
}
.ligne form {
  font-weight: bold;
}
div.choix {
  margin-left: 1vh;
  margin-right: 1vh;
}